@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@font-face {
  font-family: "Jenna-sue";
  src: local("Jenna-sue"),
    url("./assets/fonts/JennaSue.ttf/JennaSue.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  font-family: "Jenna-sue", "Poppins", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
